# Env file
*.env

#Production-ready fleet file
production-ready/*

# Windows
Thumbs.db
desktop.ini

# OS X
.DS_Store
.Spotlight-V100
.Trashes
.AppleDouble
.LSOverride
.TemporaryItems
.VolumeIcon.icns
.com.apple.timemachine.donotpresent
._*